<h1>List of Users</h1>
<ul>
<%@users.each do |user| %>
  <li>
     Name:<%=user.name+" "+user.last_name%>
     <%= link_to 'Show User', room_user_path(@room,user),method: :get %>
     <%= link_to 'Delete User',room_user_path(@room,user), method: :delete %> 
  </li>
<%end%>
</ul>