<h1>List of Rooms</h1>
<ul>
<%@rooms.each do |room| %>
  <li>
     Title:<%=room.title%>
     <%= link_to 'Show Room', room_path(room),method: :get %>
     <% if user_signed_in? && current_user.is_admin %>
       <%= link_to 'Delete Room',room_path(room), method: :delete %>
     <%end%> 
  </li>
<%end%>
</ul>